<div class="container">

  <div class="container-todo">
    <h2>Todo</h2>
    <ul class="todos">
      <li *ngFor="let todo of toDoList">
        <div *ngIf="!todo.isCompleted && !editIds.includes(todo.id)" (dblclick)="editToDo(todo.id)">
          <input type="checkbox" class="input" [checked]="todo.isCompleted" (click)="onToggle($event, todo.id)">
          <label>
            <span *ngIf="!todo.isCompleted">{{todo.toDo}}</span>
          </label>
        </div>
        <app-todoedit *ngIf="editIds.includes(todo.id)" [todo]="todo" (edit)="onEdit($event, todo.id)"
          (delete)="onDelete($event)"></app-todoedit>
      </li>
    </ul>
  </div>


  <div class="container-todo-done">
    <h2>Done</h2>
    <ul class="todos-done">
      <li *ngFor="let todo of toDoList">
        <label *ngIf="todo.isCompleted">
          <del>
            <span>{{todo.toDo}}</span>
          </del>
        </label>
      </li>
    </ul>
    <button class="clearBtn btn" (click)="deleteAllDoneTodos()">Clear</button>
  </div>


</div>
